@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<h3>Account</h3>

<div class="project @ManageNavPages.IndexNavClass(ViewContext)">
    <a asp-page="./Index">Profile</a>
</div>

<div class="project @ManageNavPages.EmailNavClass(ViewContext)">
    <a asp-page="./Email">Email</a>
</div>

<div class="project @ManageNavPages.ChangePasswordNavClass(ViewContext)">
    <a asp-page="./ChangePassword">Password</a>
</div>

@if (hasExternalLogins)
{
    <div class="project @ManageNavPages.ExternalLoginsNavClass(ViewContext)">
        <a asp-page="./ExternalLogins">External logins</a>
    </div>
}

<div class="project @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
    <a asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
</div>

<div class="project @ManageNavPages.PersonalDataNavClass(ViewContext)">
    <a asp-page="./PersonalData">Personal data</a>
</div>
